In [ ]:
!pip install dnspython
!pip install pymongo[srv]

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://Gopika:12345@cluster0.ms28e.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.student
records=db.students_data

In [ ]:
import json
with open ('/content/students.json') as student:
  a=[json.loads(s) for s in student]

In [ ]:
records.insert_many(a)

1)      Find the student name who scored maximum scores in all (exam, quiz and homework)?

In [ ]:
maxx=0
a=''
for i in records.find({},{'_id':0,'scores.score':1}):
  for v in i.values():
    k=0
    for j in v:
      k+=j['score']
    if maxx<k:
      maxx=k 
      a=i 
    else:
      pass  
i=a  
for j in records.find():
  if j['scores'][0]['score']==i['scores'][0]['score'] and i['scores'][1]['score']==i['scores'][1]['score'] and j['scores'][2]['score']==i['scores'][2]['score'] :
    print(j['name'])

Jessika Dagenais

2)      Find students who scored below average in the exam and pass mark is 40%?

In [ ]:
below_average=[]
for i in records.find({},{'_id':0,'name':1,'scores':1}):
  if i['scores'][0]['score']<40:
    below_average.append(i['name'])
  else:
    pass  
print(below_average)

['aimee Zank', 'Jenette Flanders', 'Daphne Zheng', 'Alix Sherrill', 'Dodie Staller', 'Fletcher Mcconnell', 'Jonie Raby', 'Edgar Sarkis', 'Laureen Salomone', 'Kaila Deibler', 'Tandra Meadows', 'Carli Belvins', 'Synthia Labelle', 'Richelle Siemers', 'Mariette Batdorf', 'Aleida Elsass', 'Ernestine Macfarland', 'Lady Lefevers', 'Barbera Lippman', 'Alica Pasley', 'Malisa Jeanes', 'Danika Loeffler', 'Joaquina Arbuckle', 'Dusti Lemmond', 'Rubie Winton', 'Kim Xu', 'Cody Strouth', 'Harriett Velarde', 'Leola Lundin', 'Len Treiber', 'Echo Pippins', 'Santiago Dollins', 'Tonisha Games', 'Brain Lachapelle', 'Toshiko Sabella', 'Ty Barbieri', 'Ta Sikorski', 'Lucinda Vanderburg', 'Darby Wass', 'Omar Bowdoin', 'Tania Hulett', 'Karry Petrarca', 'aimee Zank', 'Aurelia Menendez', 'Bao Ziglar', 'Jenette Flanders', 'Salena Olmos', 'Sanda Ryba', 'Denisha Cast', 'Fletcher Mcconnell', 'Verdell Sowinski', 'Gisela Levin', 'Rosana Vales', 'Tamika Schildgen', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Jonie Raby', 'Kaila Deibler', 'Tandra Meadows', 'Gwen Honig', 'Sadie Jernigan', 'Synthia Labelle', 'Ernestine Macfarland', 'Kurtis Jiles', 'Barbera Lippman', 'Dinah Sauve', 'Elizabet Kleine', 'Joel Rueter', 'Joaquina Arbuckle', 'Grady Zemke', 'Rubie Winton', 'Whitley Fears', 'Kim Xu', 'Merissa Mann', 'Cody Strouth', 'Leonida Lafond', 'Devorah Smartt', 'Len Treiber', 'Echo Pippins', 'Tonisha Games', 'Timothy Harrod']

3)      Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories.

Using pandas

In [ ]:
import pandas as pd
data=records.find()
df=pd.DataFrame(data)

passed_list=[]
failed_list=[]

for i in range(records.count_documents({})):
  if df.loc[i]['scores'][0]['score']<40:
    failed_list.append(df.loc[i]['name'])
  else:
    passed_list.append(df.loc[i]['name'])  

print(failed_list)
print(passed_list)

['aimee Zank', 'Jenette Flanders', 'Daphne Zheng', 'Alix Sherrill', 'Dodie Staller', 'Fletcher Mcconnell', 'Jonie Raby', 'Edgar Sarkis', 'Laureen Salomone', 'Kaila Deibler', 'Tandra Meadows', 'Carli Belvins', 'Synthia Labelle', 'Richelle Siemers', 'Mariette Batdorf', 'Aleida Elsass', 'Ernestine Macfarland', 'Lady Lefevers', 'Barbera Lippman', 'Alica Pasley', 'Malisa Jeanes', 'Danika Loeffler', 'Joaquina Arbuckle', 'Dusti Lemmond', 'Rubie Winton', 'Kim Xu', 'Cody Strouth', 'Harriett Velarde', 'Leola Lundin', 'Len Treiber', 'Echo Pippins', 'Santiago Dollins', 'Tonisha Games', 'Brain Lachapelle', 'Toshiko Sabella', 'Ty Barbieri', 'Ta Sikorski', 'Lucinda Vanderburg', 'Darby Wass', 'Omar Bowdoin', 'Tania Hulett', 'Karry Petrarca', 'aimee Zank', 'Aurelia Menendez', 'Bao Ziglar', 'Jenette Flanders', 'Salena Olmos', 'Sanda Ryba', 'Denisha Cast', 'Fletcher Mcconnell', 'Verdell Sowinski', 'Gisela Levin', 'Rosana Vales', 'Tamika Schildgen', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Jonie Raby', 'Kaila Deibler', 'Tandra Meadows', 'Gwen Honig', 'Sadie Jernigan', 'Synthia Labelle', 'Ernestine Macfarland', 'Kurtis Jiles', 'Barbera Lippman', 'Dinah Sauve', 'Elizabet Kleine', 'Joel Rueter', 'Joaquina Arbuckle', 'Grady Zemke', 'Rubie Winton', 'Whitley Fears', 'Kim Xu', 'Merissa Mann', 'Cody Strouth', 'Leonida Lafond', 'Devorah Smartt', 'Len Treiber', 'Echo Pippins', 'Tonisha Games', 'Timothy Harrod']
['Aurelia Menendez', 'Corliss Zuk', 'Bao Ziglar', 'Zachary Langlais', 'Wilburn Spiess', 'Salena Olmos', 'Sanda Ryba', 'Denisha Cast', 'Marcus Blohm', 'Quincy Danaher', 'Jessika Dagenais', 'Tambra Mercure', 'Verdell Sowinski', 'Gisela Levin', 'Tressa Schwing', 'Rosana Vales', 'Margart Vitello', 'Tamika Schildgen', 'Jesusa Rickenbacker', 'Rudolph Domingo', 'Gwyneth Garling', 'Gwen Honig', 'Sadie Jernigan', 'Eugene Magdaleno', 'Meagan Oakes', 'Rachell Aman', 'Kayce Kenyon', 'Houston Valenti', 'Terica Brugger', 'Kurtis Jiles', 'Dinah Sauve', 'Elizabet Kleine', 'Tawana Oberg', 'Joel Rueter', 'Tresa Sinha', 'Chad Rahe', 'Vinnie Auerbach', 'Grady Zemke', 'Vina Matsunaga', 'Whitley Fears', 'Gena Riccio', 'Merissa Mann', 'Jenise Mcguffie', 'Kam Senters', 'Leonida Lafond', 'Devorah Smartt', 'Tonia Surace', 'Adrien Renda', 'Efrain Claw', 'Mariela Sherer', 'Linnie Weigel', 'Timothy Harrod', 'Rae Kohout', 'Keesha Papadopoulos', 'Cassi Heal', 'Osvaldo Hirt', 'Milan Mcgavock', 'Maren Scheider', 'Carli Ector', 'Jaclyn Morado', 'Demarcus Audette', 'Mercedez Garduno', 'Fleta Duplantis', 'Brittny Warwick', 'Shin Allbright', 'Beckie Millington', 'Mikaela Meidinger', 'Flora Duell', 'Nobuko Linzey', 'Gennie Ratner', 'Myrtle Wolfinger', '', 'Corliss Zuk', 'Zachary Langlais', 'Wilburn Spiess', 'Daphne Zheng', 'Marcus Blohm', 'Quincy Danaher', 'Jessika Dagenais', 'Alix Sherrill', 'Tambra Mercure', 'Dodie Staller', 'Tressa Schwing', 'Margart Vitello', 'Edgar Sarkis', 'Laureen Salomone', 'Gwyneth Garling', 'Carli Belvins', 'Eugene Magdaleno', 'Meagan Oakes', 'Richelle Siemers', 'Mariette Batdorf', 'Rachell Aman', 'Aleida Elsass', 'Kayce Kenyon', 'Houston Valenti', 'Terica Brugger', 'Lady Lefevers', 'Alica Pasley', 'Tawana Oberg', 'Malisa Jeanes', 'Tresa Sinha', 'Danika Loeffler', 'Chad Rahe', 'Vinnie Auerbach', 'Dusti Lemmond', 'Vina Matsunaga', 'Gena Riccio', 'Jenise Mcguffie', 'Harriett Velarde', 'Kam Senters', 'Leola Lundin', 'Tonia Surace', 'Adrien Renda', 'Efrain Claw', 'Mariela Sherer', 'Linnie Weigel', 'Santiago Dollins', 'Rae Kohout']

4)       Find the total and average of the exam, quiz and homework and store them in a separate collection.

In [ ]:
total_count=records.count_documents({})

#avg of marks of exam
count_1=0
for i in range(total_count):
  count_1+=df.loc[i]['scores'][0]['score']
avg_exam=count_1/total_count 


#avg of marks of quiz
count_2=0
for i in range(total_count):
  count_2+=df.loc[i]['scores'][1]['score']
avg_quiz=count_2/total_count

#avg of marks of homework
count_3=0
for i in range(total_count):
  count_3+=df.loc[i]['scores'][2]['score']
avg_homework=count_3/total_count

#making new collection for inserting the average values
records_1=db.avg_of_each_exam_quiz_and_homework

averages=[
          {"_id":1,"average_of_exam":avg_exam},
          {"_id":2,"average_of_quiz":avg_quiz},
          {"_id":3,"average_of_homework":avg_homework}
]

records_1.insert_many(averages)

5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

In [ ]:
all_below_avg=[]
all_abv_40=[]

for i in range(total_count):
  if df.loc[i]['scores'][0]['score']<avg_exam and df.loc[i]['scores'][1]['score']<avg_quiz and  df.loc[i]['scores'][2]['score']<avg_homework:
    all_below_avg.append(df.loc[i]['name'])
  elif df.loc[i]['scores'][0]['score']>40 and df.loc[i]['scores'][1]['score']>40 and df.loc[i]['scores'][2]['score']>40:
    all_abv_40.append(df.loc[i]['name'])
  else:
    pass 

below_avg_and_abv_40=[]
for i in all_below_avg:
  if i in all_abv_40:
    below_avg_and_abv_40.append(i)
  else:
    pass  


records_3=db.below_average_above_40

names={"_id":1,"student_who_scored_below_avg_and_abv_40%":below_avg_and_abv_40}
      


records_3.insert_one(names)

6)      Create a new collection which consists of students who scored below the fail mark in all the categories.

In [ ]:
records_4=db.below_fail_mark

below_fail=[]

for i in range(total_count):
  if df.loc[i]['scores'][0]['score']<40 and df.loc[i]['scores'][1]['score']<40 and df.loc[i]['scores'][2]['score']<40:
    below_fail.append(df.loc[i]['name'])
  else:
    pass  

full_fail={'_id':1,"Students_who_failed_in_all_3_sessions":below_fail}

records_4.insert_one(full_fail)

7)      Create a new collection which consists of students who scored above pass mark in all the categories.

In [ ]:
records_5=db.above_passmark

above_pass=[]

for i in range(total_count):
  if df.loc[i]['scores'][0]['score']>=40 and df.loc[i]['scores'][1]['score']>=40 and df.loc[i]['scores'][2]['score']>=40:
    above_pass.append(df.loc[i]['name'])
  else:
    pass  

full_pass={'_id':1,"Students_who_passes_in_all_the_3_sessions":above_pass}

records_5.insert_one(full_pass)